<!DOCTYPE html>
<html>
<head>
    <title>Membership</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container"> 
    
<h1>會員系統啟動成功 🎉</h1>

<!-- 🔥 登入區 -->
<div id="loginBox">
    <input type="text" id="email" placeholder="Email">
    <input type="text" id="phone" placeholder="手機">
    <button onclick="login()">登入</button>
</div>

<div id="loginResult"></div>

<hr>

<!-- 🔥 註冊按鈕（往下放） -->
<div id="registerBtn">
    <button onclick="location.href='/register-page'">申請註冊會員</button>
</div>

<hr>

</div>

<script>

function login() {
    const email = document.getElementById("email").value;
    const phone = document.getElementById("phone").value;

    fetch("/api/login", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({
            email: email,
            phone: phone
        })
    })
    .then(res => res.json())
    .then(data => {
        const result = document.getElementById("loginResult");

        if (data.member) {
            const member = data.member;

            localStorage.setItem("member", JSON.stringify(data.member));

            document.getElementById("loginBox").style.display = "none";
            document.getElementById("registerBtn").style.display = "none";
            
            result.innerHTML = `
                <h3>登入成功</h3>
                <p>姓名：${member.name}</p>
                <p>Email：${member.email}</p>
                <p>手機：${member.phone}</p>
                <p>生日：${member.birthday}</p>
                <p>等級：${member.level}</p>
                <p>點數：${member.points}</p>
                <p>狀態：${member.status}</p>

                <button onclick="logout()">登出</button>
            `;
        } else {
            result.innerHTML = `<p>${data.message}</p>`;
        }
    });
}

window.onload = function () {
    const saved = localStorage.getItem("member");

    if (saved) {
        const member = JSON.parse(saved);

        document.getElementById("loginBox").style.display = "none";
        document.getElementById("registerBtn").style.display = "none";
    

        document.getElementById("loginResult").innerHTML = `
            <h3>登入成功</h3>
            <p>姓名：${member.name}</p>
            <p>Email：${member.email}</p>
            <p>手機：${member.phone}</p>
            <p>生日：${member.birthday}</p>
            <p>等級：${member.level}</p>
            <p>點數：${member.points}</p>
            <p>狀態：${member.status}</p>

            <button onclick="logout()">登出</button>
        `;
    }
};

function logout() {
    localStorage.removeItem("member");
    location.reload();
}

</script>

</body>
</html>