<!DOCTYPE html>
<html>
<head>
    <title>註冊會員</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">

    <h2 style="text-align:center;">註冊會員</h2>

    <input type="text" id="name" placeholder="姓名">
    <input type="date" id="birthday">
    <input type="text" id="phone" placeholder="手機">
    <input type="text" id="email" placeholder="Email">

    <button onclick="register()">送出註冊</button>
    <button class="secondary-btn" onclick="location.href='/'">返回登入</button>

</div>

<script>
function register() {
    const name = document.getElementById("name").value;
    const birthday = document.getElementById("birthday").value;
    const phone = document.getElementById("phone").value;
    const email = document.getElementById("email").value;

    fetch("/api/register", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({
            name: name,
            birthday: birthday,
            phone: phone,
            email: email
        })
    })
    .then(res => {
    return res.json();
})
.then(data => {
    console.log(data);

    if (data.message) {
        alert(data.message);
    } else {
        alert("註冊失敗，後端沒有回傳 message");
    }

    if (data.message === "註冊成功") {
        window.location.href = "/";
    }
})
.catch(error => {
    console.log(error);
    alert("註冊發生錯誤，請看終端機或 Console");
});
}
</script>

</body>
</html>